<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.tourismapp2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TourismApp2">
        <activity android:name=".User_Edit_Profile"></activity>
        <activity android:name=".Post_Feedback" />
        <activity android:name=".Calendar" />
        <activity android:name=".Post_Review" />
        <activity
            android:name=".Manage_Reviews"
            android:label="@string/title_activity_manage__reviews"
            android:theme="@style/Theme.TourismApp2.NoActionBar" />
        <activity android:name=".View_Place_detail" />
        <activity android:name=".User_Forget_Password_Screen" />
        <activity android:name=".User_Signup_Screen" />
        <activity android:name=".User_Login_Screen" />
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen" />
        <activity android:name=".Login_Signup" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>